<h1>Show User Record</h1>

<table>
<tr>
<th>First Name</th>
<th>Last Name</th>
<th>Email</th>
<th>Password</th>
</tr>


<tr>
<td><%= @user.Firstname%></td>
<td><%= @user.Lastname%></td>
<td><%= @user.Email %></td>
<td><%= @user.Password %></td>
</tr>

</table>